@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto;
}
body{
    margin: 0;
    background-color: #FFFFFF;
    width: 100%;
    
}
header{
    max-width: 1440px;
    margin: auto;
}
.logo{
    padding: 20px 0 90px 7%;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}
section{
    width: 86%;
    padding-left: 7%;
    padding-right: 7%;
    
}
.top__first{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.top__first>img{
    margin-right: 5px;
    width: 22px;
    height: 21px;
}
.top-p{
    margin-top: 0;
    margin-right: 20px;
    float: left;
}
.top__second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 80px;
}
.top__second>div{
    width: 50%;
    min-width: 534px;
}
.top__second>div>h1{
    margin-top: 0px;
    font-weight: 700;
    font-size: 80px;
}
.top__second>img{
    width: 30%;
    
}
.top__third>div{
    background-color: #1E4681;
    margin-left: 25%;
    width: 35%;
    min-width: 480px;
    margin-top: 90px;
    margin-bottom: 80px;
    padding: 5px 0px 5px 15px;
    text-align: left;
    color: white;
    font-weight: 400;
    font-size: 25px;
    border-radius: 5px;
}
.top__third>div>p:nth-child(2){
    margin-left: 55%;
    font-size: 20px;
}
h2{
    margin-left: 7%;
    font-weight: 700;
    font-size: 55px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;

}
.content>article{
    width: 55%;
    font-size: 24px;
}
.camera{
    width: 30%;
    min-width: 314px;
    max-height: 315px;
}
.extra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
}
.extra-info{
    font-weight: 700;
    font-size: 25px;
}
.extra-explanation{
    font-weight: 400;
    font-size: 18px;
    max-width: 150px;
}
.studio{
    width: 20%;
    min-width: 232px;
    max-height: 203px;
    margin-right: 50px;
}
.lessons-format{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20vh;
}
.lessons-format>div{
    margin-right: 80px;
    width: 20%;
    font-weight: 400;
    font-size: 18px;
}
.lessons-format>div .h-lessons-format{
    color: #1E4681;
    font-weight: 700;
    font-size: 25px;
    
}
.goals{
    width: 55%;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20vh;
}
.curriculum{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.stick-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 5%;
}
.curriculum-sticks{
    max-width: 30%;
    width: fit-content;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.stick-top{
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.curriculum-sticks>h3{
    margin-top: 0px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
}
.curriculum-sticks>p{
    font-weight: 400;
    font-size: 25px;   
    margin-left: 5%; 
}
.review{
    background-color: #EFEFEF;
    padding-top: 5%;
    padding-bottom: 7%;    
}
.review>h3{
    font-weight: 700;
    font-size: 55px;
}
.review>div{
    background-color: white;
    width: 60%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px;
}
.review-sign{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
}
.review-sign>img{
    margin-right: 30px;
}
.price{
    background-color: #9DC9C8;
    padding-top: 5%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
}
.price>h2{
    margin-left: 0;
}
.h-price{
    font-weight: 400;
    font-size: 25px;
}
.price-rub{
    margin: 0px 0 60px  0;
    font-weight: 400;
    font-size: 80px;
}
.requirements{
    width: 60%;
    display: flex;
    flex-direction: row;
}
.requirements>div{
    margin-right: 10%;
}
.requirements>div>p:first-of-type{
    font-weight: 400;
    font-size: 25px;
}
footer{
    background-color: black;
    max-width: 1440px;
    margin: auto;
}
footer>section{
    display: flex;
    flex-direction: column;
}
.f-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    color: white;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.phone-mail{
    width: 240px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -5%;
}
.phone-mail>div>img{
    width: 10%;
}
.f-logo{
    width: 10%;
}
.img-contact{
    width: 5%;
    margin:0 10px 0 0;
}
.phone-mail>div{
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}
.f-social{
    margin-top: 30px;
    margin-right: 10px;
}
.copyright{
    margin: 10% 0 4% 0;
}
@media screen and (max-width:991px) {
    main, header, footer{
        max-width: 100%;
    }
    p{
        font-weight: 400;
        font-size: 10px;
    }
    .top__first>p{
        width: 75px;
        margin-right: 0;
    }
    .top__second{
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
    .top__second>div{
        width: 80%;
        min-width: 250px;
    }
    .top__second>div>h1{
        margin-top: 0px;
        font-weight: 700;
        font-size: 37px;
        width: 50%;
    }
    .top__third>div{
        background-color: #1E4681;
        margin-left: 0;
        width: 40%;
        min-height: 93px;
        min-width: 225px;
        max-width: 289px;
        margin-top: 90px;
        margin-bottom: 80px;
        padding: 5px 0px 5px 15px;
        text-align: left;
        color: white;
        font-weight: 400;
        font-size: 11px;
        border-radius: 5px;
    }
    .top-p{
        width: 50%;
    }
    .top__third>div>p:nth-child(2){
        font-weight: 400;
        font-size: 10px;
    }
    .top__second>img{
        min-width: 18%;
        max-width: 20%;
        margin-left: 50%;
    }
    h2{
        margin-left: 7%;
        font-weight: 700;
        font-size: 26px;
    }
    .content>article{
        width: 75%;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5%;
    }
    .camera{
        width: 30%;
        min-width: 146px;
        margin-left: 20%;
    }
    .extra{
        justify-content: flex-start;
        margin-bottom: 10%;
        flex-wrap: wrap;
        width: 30%;
        margin: 0;
    }
    .extra>div{
        width: 30%;
        margin-right: 7%;
        min-width: 90px;
    }
    .studio{
        display: none;
    }
    .extra-info{
        font-weight: 700;
        font-size: 12px;
    }
    .extra-explanation{
        font-weight: 400;
        font-size: 10px;
    }
    .lessons-format{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .lessons-format>div{
        margin-right: 0px;
        width: 60%;
        font-weight: 400;
        font-size: 10px;
    }
    .lessons-format>div .h-lessons-format{
        color: #1E4681;
        font-weight: 700;
        font-size: 12px;
    }
    .goals{
        width: 55%;
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 20vh;
    }
    .stick-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 20%;
    }
    .curriculum-sticks{
        height: 50%;
        max-width: 50%;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-bottom: 5%;
        
    }
    .curriculum-sticks>h3{
        margin-top: 0px;
        margin-left: 10px;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0px;
    }
    .curriculum-sticks>p{
        font-weight: 400;
        font-size: 12px; 
        margin-left: 5%; 
    }
    .review>h3{
        font-weight: 700;
        font-size: 26px;
    }
    .review-sign{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
    }
    .h-price{
        font-weight: 400;
        font-size: 12px;
    }
    .price-rub{
        margin: 0px 0 60px  0;
        font-weight: 400;
        font-size: 37px;
    }
    .requirements>div>p:first-of-type{
        font-weight: 400;
        font-size: 12px;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    
    }
    .review>div{
        background-color: white;
        width: 90%;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding: 20px;
    }
    .review-sign>div>p{
        font-weight: 700;
        font-size: 14px;
    }
    .review-sign>img{
        margin-right: 0;
        width: 40%;
    }
    .requirements{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .phone-mail{
        margin-top: 5%;
    }
    .f-social{
        margin-top: 2%;
        width: 3%;
    }
    .phone-mail>div>img{
        width: 3%;
    }
}